body{
    font-size: 16px;
}

p{
    /*font-size: 24px;
    24/16=1.5em*/
    font-size: 1.5em;
}
.box{
    /*font-size: 32px;
    32/16=2em*/
    font-size: 2em;
}
/*---------------------*/
*{
    margin: 0px;
    padding: 0px;
}
.contenedor{
    background-color: red;
    width: 80%;
    height: 1000px;
    margin: 0auto;
    padding: 1em;
}
.columna{
    background-color: white;
    height: 30px;
    margin-bottom: 1em;
}
.primera{width: 100%;}
.segunda{width: 50%;}
.tercera{width: 25%;}
.cuarta{width: 75%;}
.quinta{width: 10%}
